{% extends "workshop_app/base.html" %}
{% load static %}

{% block title %}
    Propose a workshop
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href=""{% static 'workshop_app/css/propose.css' %}"">
    <link rel="stylesheet" href="{% static 'workshop_app/css/jquery-ui.css' %}">
{% endblock %}


{% block content %}
<div class="propose-container">
    <div class="info-alert">
        Note: Before proposing the workshop, please check its details in the
        <strong><a href="{% url 'workshop_app:workshop_type_list' %}" style="color: inherit;">Workshop Types</a></strong> section.
    </div>

    <div class="card">
        <div class="propose-header">
            <h3>Propose a Workshop</h3>
        </div>
        <div class="card-body">
            <form class="propose-form" method="post">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger">
                        {{ form.errors }}
                    </div>
                {% endif %}

                <div class="form-group">
                    <label for="{{ form.workshop_type.id_for_label }}">Workshop Type</label>
                    {{ form.workshop_type }}
                </div>

                <div class="form-group">
                    <label for="{{ form.date.id_for_label }}">Propose a Date</label>
                    {{ form.date }}
                </div>

                <div class="form-group tnc-group">
                    {{ form.tnc_accepted }}
                    <label for="{{ form.tnc_accepted.id_for_label }}">
                        I accept the <a href="#" id="disp_tnc" data-toggle="modal" data-target="#tncModal">terms and conditions</a>
                    </label>
                </div>

                <button class="btn-primary" type="submit">Submit Proposal</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


{% block extra_custom_scripts %}
    {# These scripts need to be loaded after jQuery in base.html #}
    <script src="{% static 'workshop_app/js/jquery-ui.min.js' %}"></script>
    <script>
        $(function () {
            var dateToday = new Date();
            var upto = new Date();
            dateToday.setDate(dateToday.getDate() + 3);
            upto.setFullYear(dateToday.getFullYear() + 1);

            // Make sure your date input has the class 'datepicker'
            // Add this to your forms.py: attrs={'class': 'datepicker'}
            $(".datepicker").datepicker({
                changeMonth: true,
                changeYear: true,
                minDate: dateToday,
                maxDate: upto,
                beforeShowDay: $.datepicker.noWeekends,
                dateFormat: 'yy-mm-dd'
            });

            $('#disp_tnc').click(function (e) {
                e.preventDefault();
                if ($('#id_workshop_type').val() === '') {
                    $('.modal-body').html("<p style='color: #d9534f;'>Please select a workshop type first.</p>");
                } else {
                    $.ajax({
                        url: '/workshop/type_tnc/' + $('#id_workshop_type').val(),
                        success: function (data) {
                            $('.modal-body').html(data.tnc);
                        }
                    });
                }
            });
        });
    </script>
{% endblock %}