{% extends 'workshop_app/base.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'workshop_app/css/registration.css' %}">
{% endblock %}


{% block content %}
<div class="card registration-card">
    <div class="registration-header">
        <h3>Coordinator Registration</h3>
        <p>Create an account to get started.</p>
    </div>

    <form class="registration-form" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
</div>
{% endblock %}