{% extends 'workshop_app/base.html' %}
{% load static %}

{% block title %}
    View Workshop Details
{% endblock %}

{% block content %}
<div class="card details-container">
    <div class="details-header">
        <h2>{{ workshop_type.name }}</h2>
        <p class="duration">Duration: {{ workshop_type.duration }} day(s)</p>
    </div>

    <div class="details-section">
        <h3>Description</h3>
        <div class="details-content">
            {{ workshop_type.description|linebreaksbr }}
        </div>
    </div>

    <div class="details-section">
        <h3>Terms and Conditions</h3>
        <div class="details-content">
            {{ workshop_type.terms_and_conditions|linebreaksbr }}
        </div>
    </div>
</div>
{% endblock %}